(
    name: "3",
    author: None,
    particles: [
        (
            spawn_position: (-321.6, 0.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Killer,
                        radius: 20.0,
                        color: Srgba((
                            red: 1.0,
                            green: 0.0,
                            blue: 0.0,
                            alpha: 1.0,
                        )),
                        initial_velocity: (300.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (321.59998, 0.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Killer,
                        radius: 20.0,
                        color: Srgba((
                            red: 1.0,
                            green: 0.0,
                            blue: 0.0,
                            alpha: 1.0,
                        )),
                        initial_velocity: (-300.0, -0.000026226833),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (0.0, 252.0),
            particle: (
                kind: Killer,
                radius: 81.0,
                color: Srgba((
                    red: 1.0,
                    green: 0.0,
                    blue: 0.0,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [],
            ),
        ),
        (
            spawn_position: (0.0, -212.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [],
            ),
        ),
        (
            spawn_position: (-185.0, -132.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [],
            ),
        ),
        (
            spawn_position: (185.0, -132.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [],
            ),
        ),
    ],
    obstacles: [],
    player_spawn: (0.0, 0.0),
)
