(
    name: "7",
    author: None,
    particles: [
        (
            spawn_position: (190.40001, 0.0),
            particle: (
                kind: Normal,
                radius: 25.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (-212.13203, 212.13203),
                        subparticles: [],
                    ),
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (-212.13203, -212.13203),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-44.0, 207.99997),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Killer,
                        radius: 20.0,
                        color: Srgba((
                            red: 1.0,
                            green: 0.0,
                            blue: 0.0,
                            alpha: 1.0,
                        )),
                        initial_velocity: (553.06854, -137.89548),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-44.0, -202.4),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Killer,
                        radius: 20.0,
                        color: Srgba((
                            red: 1.0,
                            green: 0.0,
                            blue: 0.0,
                            alpha: 1.0,
                        )),
                        initial_velocity: (291.0887, 72.57657),
                        subparticles: [
                            (
                                kind: Killer,
                                radius: 10.0,
                                color: Srgba((
                                    red: 1.0,
                                    green: 0.0,
                                    blue: 0.0,
                                    alpha: 1.0,
                                )),
                                initial_velocity: (-0.000013113428, 300.00027),
                                subparticles: [],
                            ),
                            (
                                kind: Killer,
                                radius: 20.0,
                                color: Srgba((
                                    red: 1.0,
                                    green: 0.0,
                                    blue: 0.0,
                                    alpha: 1.0,
                                )),
                                initial_velocity: (-233.14412, -188.79643),
                                subparticles: [],
                            ),
                        ],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-391.19998, 0.0),
            particle: (
                kind: Normal,
                radius: 25.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (400.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-391.2, 130.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (400.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-391.2, -130.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (400.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-534.4, 42.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (400.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-534.4, -42.0),
            particle: (
                kind: Normal,
                radius: 20.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (400.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-534.4, 231.19997),
            particle: (
                kind: Normal,
                radius: 30.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (300.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
        (
            spawn_position: (-534.4, -231.2),
            particle: (
                kind: Normal,
                radius: 30.0,
                color: Srgba((
                    red: 0.05882353,
                    green: 0.58431375,
                    blue: 0.8862745,
                    alpha: 1.0,
                )),
                initial_velocity: (0.0, 0.0),
                subparticles: [
                    (
                        kind: Normal,
                        radius: 20.0,
                        color: Srgba((
                            red: 0.05882353,
                            green: 0.58431375,
                            blue: 0.8862745,
                            alpha: 1.0,
                        )),
                        initial_velocity: (300.0, 0.0),
                        subparticles: [],
                    ),
                ],
            ),
        ),
    ],
    obstacles: [],
    player_spawn: (353.0, 0.0),
)
